* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-300: #09a0ec;
    --primary-color-500: #0d46ac;
    --primary-color-700: #0a3790;
    
    --secondary-color-500: #f0f0f0;
    --secondary-color-700: #e0e0e0;

    --neutral-dark: #333333;
}

.navbar {
    background-color: var(--primary-color-700); 
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--secondary-color-700);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.nav-item {
    list-style: none;
    transition: .3s;
}

.nav-item a {
    color: var(--secondary-color-700);
    text-decoration: none;
}

.nav-item:hover {
    transform: scale(1.06);
    text-shadow: 0 0 10px var(--secondary-color-500);
}

.btn {
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-login {
    background-color: var(--primary-color-300);
    color: var(--primary-color-700);

    font-weight: 900;

}

.btn-register {
    background-color: var(--primary-color-700);
    border: solid 2px var(--primary-color-300);

    color: var(--primary-color-300);
    font-weight: 900;
}

.btn:hover {
    transform: scale(1.06);
    box-shadow: 0 0 10px var(--secondary-color-500);
}